body {
    font-family: "Manrope", sans-serif;
    background-color: hsl(218, 23%, 16%);

    margin: 0;
    padding: 0;    
    height: 100vh; /*makes the body take up the full viewport height, 
    important to center div vertically and horizontally */

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 376px) {

    .advice-container {
        width: 500px;
    }

    #adviceId {
        font-size: 15px;
    }

    #advice {
        font-size: 28px;
    }

    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }
}

@media (max-width: 375px) {
    body {
        width: 100%;
    }
    .advice-container {
        box-sizing: border-box;
        width: calc(100% - 30px);
    }

    #adviceId {
        font-size: 12px;
    }

    #advice {
        font-size: 24px;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
    }
}

.advice-container {
    background-color: hsl(217, 19%, 24%);
    text-align: center;

    padding: 35px 30px 70px 30px;
    border-radius: 15px;
}

#adviceId {
    color: hsl(150, 100%, 66%);
    font-weight: 400px;
    letter-spacing: 4px;

    margin-bottom: 20px;
}

#advice {
    color: hsl(193, 38%, 86%);

    margin-bottom: 25px;
}

.img-container {
    /*To have dice button relative to partern divider*/
    position: relative;

    display: flex;
    justify-content: center;
}

.icon-dice-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);

    /*Position absolute with partern divider*/
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;

    cursor: pointer;

    transition: box-shadow 0.15s;
}

.icon-dice-container:hover {
    box-shadow: 0px 0px 30px hsl(150, 100%, 66%);
}

.icon-dice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}