* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

:root {
    /* Primary */

    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);

    /* Neutral */

    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

.container {
    background-color: var(--Dark-Blue);
    font-size: 28px;
    line-height: 1.5;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--Dark-Grayish-Blue);
    width: 95%;
    padding: 1.3em;
    margin: 0.5em;
    text-align: center;
    border-radius: 10px;
    
    max-width: 650px;
    position: relative;
}

.advice-id {
    color: var(--Neon-Green);
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 1em;
}

.advice {
    color: var(--Light-Cyan);
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.divider__mobile {
    width: 100%;   
}

.divider__desktop {
    display: none;
}

.btn {
    background-color: var(--Neon-Green);
    border: none;
    padding: 1.5em;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: box-shadow 0.15s;
}

.btn:hover {
    box-shadow: 0px 0px 30px var(--Neon-Green);
}

@media (min-width: 500px) {
    .divider__mobile {
        display: none;
    }

    .divider__desktop {
        display: block;
        width: 100%;
    }

    .card {
        padding: 1.5em;
    }
}